.pageHeader {
    color: #0dcaf0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 5% auto;
}

.post {
    border: 2px solid #0dcaf0;
    border-radius: 5px;
    margin: 5% auto;
    padding: 2%;
    width: 80%;
}

.aboutMe-content {
    width: 80%;
    margin: 5% auto;
}

.btn-info {
    float: right;
    margin-top: 2%;
}
